.venv/
__pycache__/
**/__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.env
*.egg-info/
build/
dist/
mac_app/

## Add your own custom ignore patterns below this line
pdf_extraction_mac_all.code-workspace
